**/__pycache__/**
__pycache__/**
gui/__pycache__/**
model/__pycache__/**    
imagenes_rc.py
__pycache__/cine.cpython-312.pyc
model/__pycache__/peliculas.cpython-312.pyc
model/__pycache__/usuario.cpython-312.pyc
.gitignore
imagenes_rc.py
gui/__pycache__/login.cpython-312.pyc
gui/__pycache__/main.cpython-312.pyc
__pycache__/cine.cpython-312.pyc
__pycache__/cine.cpython-312.pyc
__pycache__/cine.cpython-312.pyc
__pycache__/cine.cpython-312.pyc
__pycache__/cine.cpython-312.pyc
__pycache__/cine.cpython-312.pyc
__pycache__/cine.cpython-312.pyc
__pycache__/cine.cpython-312.pyc
model/__pycache__/usuario.cpython-312.pyc
model/__pycache__/usuario.cpython-312.pyc
model/__pycache__/peliculas.cpython-312.pyc
gui/__pycache__/login.cpython-312.pyc
data/__pycache__/usuario.cpython-312.pyc
data/__pycache__/directores.cpython-312.pyc
__pycache__/cine.cpython-312.pyc
gui/__pycache__/main.cpython-312.pyc
__pycache__/cine.cpython-312.pyc
